<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="shortcut icon" href="/images/home.png" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="w-full h-screen bg-zinc-900">
        <h1 class="text-white text-3xl text-center pt-10">Welcome!</h1>
        <div class="flex flex-row mt-25 gap-30 justify-center items-center">
            <div class="bg-zinc-300 rounded w-xs h-70 flex flex-col justify-center items-center gap-20 hover:scale-[1.01]">
            <p class="text-black font-medium text-xl">Already an user?</p>
            <a class="text-white font-medium p-2 w-20 text-center bg-blue-500 rounded hover:scale-[1.02]" href="/login">Login</a>
            </div>
            <div class="bg-zinc-300 rounded w-xs h-70 flex flex-col justify-center items-center gap-20 hover:scale-[1.01]">
                <p class="text-black font-medium text-xl">New User?</p>
                <a class="text-white font-medium p-2 w-50 text-center bg-blue-500 rounded hover:scale-[1.02]"  href="/create">Create your account</a>
            </div>
         </div>

             </div>
        </div>
    </div>
</body>
</html>